<!-- code for item list -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Items List</ion-title>
    <ion-buttons end>
      <button ion-button md="md-add" (click)="navigateToAdditemsPage()">
      Add Item  <ion-icon name="add"> </ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="List.length > 0">
    <ion-item *ngFor="let item of List" (click)="selectItem(item)">
   
     <h2> <b>Item Name:</b> {{item.itemName}}</h2>
     <h3> <b>Status:</b> {{item.itemStatus}}</h3>
 
    </ion-item>
  </ion-list>
  <ion-list *ngIf="List.length == 0 ">
    <h1> <b>{{'No Data Found'}}</b> </h1>

  </ion-list>

</ion-content>
